@media (min-width: 1700px) {
    .ster-eggs {
        margin-top: 34rem;
        margin-left: 11rem;
    }

    .ster-eggs img {
        margin:8px;
        width: 80px;
        height: 80px;
    }

    .box-present {
        margin-left: 3rem;
    }

    main p {
        margin-top: 2rem;
        margin-left: 3rem;
    }
}