@media (min-width: 1600px) {
    header h1 {
        margin-top: 22rem;
        margin-left: 9rem;
    }

    .ster-eggs {
        margin-top: 31rem;
        margin-left: 12.4rem;
    }

    .ster-eggs img {
        margin: 0.4rem;
    }


    aside h2 {
        font-size: max(26px, 1vw);
    }

    .fragmentacao-do-amor #equacao {
        margin-left: 10rem;
    }

    main p {
        font-size: max(20px, 2vw);
        text-align: center;
    }


}