@media (min-width: 1600px) {
    header h1 {
        margin-top: 22rem;
        margin-left: 9rem;
    }

    .ster-eggs {
        margin-top: 31rem;
    }

    .ster-eggs img {
        margin:7px;
        width: 60px;
        height: 60px;
    }

    aside h2 {
        font-size: max(26px, 1vw);
    }

    .fragmentacao-do-amor #equacao {
        margin-left: 10rem;
    }


    main {
        top: 6rem;
    }

    main button{
        top: 6rem;
    }

    main p {
        font-size: max(20px, 2vw);
        text-align: center;
    }
    
    
}