@media (min-width: 1350px) {
    header h1 {
        margin-top: 16rem;
        margin-left: 7rem;
    }

    .ster-eggs {
        margin-top: 24rem;
        margin-left: 10rem;
    }

    .ster-eggs img {
        width: 40px;
        height: 40px;
    }

    aside h2 {
        font-size: max(26px, 1vw);
    }

    .fragmentacao-do-amor #equacao {
        margin-left: 8rem;
    }

    main {
        top: 0.1rem;
    }

    main button {   
        top: 1rem;
    }

    main span {
        top: 20rem;
    }

    main p {
        margin-left: 2rem;
    }
    .box-present {
        margin-left: 2rem;

    }

    

    

    

}