* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.child {
    width: 33%;
    height: 300px;
    background-color:palevioletred;
    border: 1px solid yellow;
}