@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Amatic SC', cursive;
    color: azure;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.child {
    width: 33%;
    height: 59rem;
    /*border: 1px solid yellow;*/
}


header h1 {
    position: fixed;
    text-align: center;
    font-size: max(18px, 3vw);
}

.ster-eggs {
    position: fixed;
    justify-content: center;
}

.ster-eggs img {
    width: 50px;
    height: 50px;
}

aside h2 {
    width: 60%;
    text-align: center;
    margin-left: 2rem;
    margin-top: 4rem;
    font-size: max(30px, 1vw);
}

#coordenadas-do-amor {
    margin-top: 2rem;
}

#coordenadas-do-amor a {
    text-decoration: none;
    color: #eb4182;
}

#coordenadas-do-amor #coordenadas {
    width: 100px;
    height: 100px;
    margin-left: 11rem;
}

#cats {
    position: fixed;
    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgb(252, 250, 250);
    filter: opacity(.6);
}

main {
    position: fixed;
    top: 8rem;
    margin-left: 6rem;
}

main button:hover {
    color: #eb4182;
}

main img {
    max-width: 280px;
    max-height: 450px;
    margin-left: 4rem;
    border-radius: 10px;
    filter: opacity(.4);
    box-shadow: 3px 3px 3px 1px rgb(252, 250, 250);
}

main button {
    position: fixed;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: max(30px, 2vw);
    top: 8rem;
    margin-left: -20rem;
    color: #ebf43c;
    transform: rotate(-35deg);
    box-shadow: 5px 5px 10px;
}

main span {
    position: absolute;
    top: 10rem;
    margin-left: 6rem;
}

main strong {
    color: rgb(234, 236, 100);
    font-size: max(36px, 2vw);
    text-shadow: 0.7px 0.7px #d8cccc;
    font-family: 'Amatic SC', cursive;
    margin-left: -22rem;
}

main strong:hover {
    color: #eb4182;
}

main p {
    font-size: max(20px, 2vw);
    text-align: center;
    margin-top: 1rem;
    margin-left: 11rem;
}

main audio {
    margin-left: 3rem;
}