@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Amatic SC', cursive;
    color: azure;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.child {
    width: 33%;
    height: 59rem;
    border: 1px solid yellow;
}

header h1 {
    position: fixed;
    text-align: center;
    font-size: max(18px, 3vw);
}

@media (min-width: 1400px) {
    header h1 {
        margin-top: 18rem;
        margin-left: 8rem;
    }

}

@media (min-width: 1600px) {
    header h1 {
        margin-top: 22rem;
        margin-left: 8rem;
    }

}


aside img {
    max-width: 280px;
    max-height: 450px;
    margin: auto;
    display: block;
    margin-top: 16%;
    border-radius: 10px;
    filter: opacity(.4);
    box-shadow: 3px 3px 3px 1px rgb(144, 215, 224);
}

aside button {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: max(26px, 1vw);
    top: 6%;
    left: 11%;
    color: #d0da1d;
    box-shadow: 5px 5px 10px;
    filter: opacity(.9);
}

aside button:hover {
    color: #eb4182;
}

aside p {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: max(30px, 1vw);
    margin-top: -5rem;
}

aside audio {
    width: 230px;
    height: 45px;
    margin-left: 32%;
    margin-top: 1rem;
}

main img {
    max-width: 280px;
    max-height: 450px;
    margin: auto;
    display: block;
    margin-top: 16%;
    border-radius: 10px;
    filter: opacity(.4);
    box-shadow: 3px 3px 3px 1px rgb(252, 250, 250);
}

main button {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: max(30px, 2vw);
    top: 10%;
    left: 72%;
    color: #ebf43c;
    transform: rotate(-35deg);
    box-shadow: 5px 5px 10px;
}

main button:hover {
    color: #eb4182;
}

main span {
    position: absolute;
    top: 48%;
    margin-left: 12rem;
}

main strong {
    color: rgb(234, 236, 100);
    font-size: max(30px, 2vw);
    text-shadow: 0.7px 0.7px #d8cccc;
}

main p {
    font-size: max(20px, 2vw);
    text-align: center;
    margin-top: 2rem;
}

.box-present {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.box-present img {
    margin: 8px;
    filter: opacity(.6);
}