@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Amatic SC', cursive;
    color: azure;
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.child{
    width: 33%;
    height: 59rem;
    border: 1px solid yellow;
}

header h1 {
    text-align: center;
    font-size: max(18px, 3vw);
    margin-top: 24rem;
    margin-left: 3rem;
}


aside span{
    position: absolute;
    top: 50%;
    margin-left: 12rem;
}

aside strong{
    color:rgb(231, 46, 154);
    font-size: max(30px, 2vw);
}

aside img {
    max-width: 280px;
    max-height: 450px;
    margin: auto;
    display: block;
    margin-top: 16%;
    border-radius: 10px;
    filter: opacity(.4);
    box-shadow: 3px 3px 3px 1px rgb(252, 250, 250);
}

aside button {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: max(28px, 2vw);
    top: 10%;
    left: 7%;
    color: #ebf43c;
    transform: rotate(-35deg);
    box-shadow: 5px 5px 10px;
}
