@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Amatic SC', cursive;
    color: azure;
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.child{
    width: 33%;
    height: 59rem;
    border: 1px solid yellow;
}

header h1 {
    text-align: center;
    font-size: max(18px, 3vw);
    margin-top: 23rem;
    margin-left: 3rem;
}
